# reequirements
# this application requires basic things such as
#           1) the Home page # done
#               that tells about me and my brief introduction
#           2) projects page
#               a brief introduction to what and all the projects that i have done till now
#           3) suggestions and feedback for me # done
#           4) a contact page // done
#           5) and a page for my resume or this could be in my first page rating all of what i have done
#           6) about the college life something like a blog post
# all these pages will be a separate apps in django 

