# i will be writing all the requirements in this file which will be very important for me in the future

# what i am building
# i am building an website for myself similar to a portfoliowebsite

# why i am building this website 
# from a long time i had this idea to build something for me that can represent me in the internet
# but i was confused about which languague to use which frame works to use etc..

# i recent days i came up with something called django which is a python frame work for building webapplications
# why django i know a decent bit of python and thats it i choose it and have started doing the project
# hope it would turn out to be successfull

# reequirements
# this application requires basic things such as
#           1) the Home page # done
#               that tells about me and my brief introduction
#           2) projects page
#               a brief introduction to what and all the projects that i have done till now
#           3) suggestions and feedback for me # done
#           4) a contact page // done
#           5) and a page for my resume or this could be in my first page rating all of what i have done
#           6) about the college life something like a blog post
# all these pages will be a separate apps in django 

