

main {
    padding-top: 80px; /* Adjust based on the height of your navigation bar */
    padding-bottom: 60px;/* Adjust based on the height of your footer*/
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    position: fixed;
    background-color: black;
    padding: 15px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block; /* Make the list items behave as blocks */
    margin: 0 10px; /* Add some space between the items */
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Add some padding for better clickability */
}

nav a:hover {
    background-color: #333; /* Change color on hover */
}

footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit; /* This will use the parent element's color */
  }
  
  .icon {
    color: white; /* Set your desired color here */
  }
  
  .star {
    color: #FFD700; /* Set the star color to gold */
    font-size: 1.2em;
}

.about-content {
    display: flex;
    align-items: center;
    flex: auto;

}

.image {
    flex: auto;
    align-items: center;
    margin-right: 2%; /* Adjust the margin as needed */
    margin-left: 10px; /* Adjust the margin as needed */
    /* max-width: 100%; */
    /* max-height: auto; */

}

