{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Home Page</title>
    <link rel="stylesheet" href="{% static 'homecss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>

<body>
    <nav class = "navbar">
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a  href="https://leetcode.com/Snehith1312/">LeetCode</a></li>
            <li><a  href="https://auth.geeksforgeeks.org/user/snehith1233/">GFG</a></li>
            <li><a  href="projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#interests">Interests</a></li>
            <li><a href="feedback">Feedback </a></li>
        </ul>
    </nav>
    
    <header >
        <h1 >SNEHITH H</h1>
    </header>


    <main>
        
        <section id="about">
            <h2>About Me</h2>
            <div class="about-content">
                <div >
                    <img src="{% static 'image.jpg' %}" alt="Your Alt Text">
                </div>
                <div class="text">
                    <p class ="data"> Hi Welcome! , I am a Passionate and Enthusiastic engineer, from PES University. Skilled in DSA, Database Systems,
                        and Computer-Networks. Thrives on rapid learning, effective communication, and problem-solving.
            Interested in Cyber-Security,DataBase-Systems,Back-end Development. </p>
                </div>
            </div>
        </section>

        <section id="experience">
            <h2>Experience</h2>
            <ul>
                
                <p>I am a recent graduate eager to commence my professional journey by securing a full-time role </p>

            </ul>
        </section>

        <section id="education">
            <h2>Education</h2>
            <ul>
                <li>
                    <h3>Degree</h3>
                    <p>Bachelors in Computer Science and Engineering 2020-24</p>
                    <p>PES University  - Bangalore</p>
                </li>
            </ul>
        </section>


        <section id="skills">
            <h2>Skills</h2>
                <ul class="skills-list">
                    <li style="list-style-type: disc; margin-left: 40px;">
                        <span class="skill-name">Python3</span>
                        <!-- <span class="skill-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        </span> -->
                    </li>
                    <li style="list-style-type: disc; margin-left: 40px;">
                        <span class="skill-name">Mysql</span>
                        <!-- <span class="skill-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        </span> -->
                    </li>

                    <li style="list-style-type: disc; margin-left: 40px;">
                        <span class="skill-name">DSA</span>
                        <!-- <span class="skill-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i> -->
                            <!-- <i class="fas fa-star-half"></i> -->
                        <!-- </span> -->
                    </li>
                    <li style="list-style-type: disc; margin-left: 40px;">
                        <span class="skill-name">CPP</span>
                        <!-- <span class="skill-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i> -->
                            <!-- <i class="fas fa-star-half"></i> -->
                        <!-- </span> -->
                    </li>
                    <li style="list-style-type: disc; margin-left: 40px;">
                        Git
                    </li>
                </ul>
                    

        </section>
        <section id = "leetCode">
            
        
            <h1 class="text-center mb-4">LeetCode Problem Dashboard</h1>

            <div class="container">
                <div class="card easy">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 2px;">Easy Problems</h5>
                        <div class="progress-label">Progress</div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <div class="progress-data">100/150</div>
                    </div>
                </div>

                <div class="card medium">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 2px;">Medium Problems</h5>
                        <div class="progress-label">Progress</div>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <div class="progress-data">75/150</div>
                    </div>
                </div>

                <div class="card hard">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 1px;">Hard Problems</h5>
                        
                        <div class="progress-label">Progress</div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <div class="progress-data"></div>
                    </div>
                </div>
            </div>

            
        <!-- </body> -->




        </section>
        

        <section id="interests">
            <h2>Interests</h2>
            <ul>
                <li id = "interest">Computer Networks </li>
                <li id = "interest"> Cyber Security</li>
                <li id = "interest">Cryptography</li>
                <li id = "interest" >Back-end Development</li>
                <li id = "interest">Database Systems</li>
            </ul>
        </section>

        
        <section id="contacts">
            <h2>Contact</h2>
            <ul>
                <li><i id = "contact" class="fas fa-envelope"></i> snehith1233@gmail.com </li>
                <li><i id = "contact" class="fas fa-phone"></i> 6362320121</li>
                <li><i id = "contact" class="fab fa-github"></i><a href="https://github.com/Snehith557"> GitHub</a></li>
            </ul>
        </section>
    </main>

    <footer id="footer-class">
        <p style="color:black"id ="footer-text">&copy; 2023 Snehith H</p>
    </footer>
</body>

</html>
