{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'projects.css'%}" />
    
</head>
<body>
    <header> MY PROJECTS</header>
    <main>
        <div> 
            <div>
                <h4> ON GOING PROJECTS</h4>
            </div>

            <div class="ongoing-projects">
                <section>
                    <h4><i class="fab fa-github"></i> <a href="#" class="links"> INTELLIGENT ROUTER </a></h4>
                    <p>Working on integrating Reinforcement learning into AODV, an adhoc routing protocol to improve the networking 
                        parameters namely packet delivery ratio and latency.
                    </p>
                    <button >Read More</button>
                </section>
                <section>
                    <h4><i class="fab fa-github"></i> <a href="https://github.com/Snehith557/Django-Project" class="links">PORTFOLIO WEBSITE</a></h4>
                    <p>Working on a portfolio website using Python's Django Framework.</p>
                    <button>Read More</button>
                </section>
            </div>
            
            <div>
                <h4> COMPLETED-PROJECTS</h4>
            </div>
            <div class="completed-projects">
                <section>
                    <h4><i class="fab fa-github"></i> <a href="https://github.com/Snehith557/Hotel_room_booking_system" class="links">HOTEL ROOM MANAGEMENT SYSTEM </a></h4>
                    <p>An individual project developed using basic front end and MySQL as a database. The website provided basic features like booking a ticket,
                        ticket cancellation, and checking for availability, etc.
                    </p>
                    <button>Read More</button>
                </section> 
                <section>
                    <h4> <i class="fab fa-github"></i> <a href="https://github.com/Snehith557/Helping-Hands-" class="links">HELPING-HANDS</a></h4>
                    <p>This was a team project which focused more on applying the software engineering principles throughout the development lifecycle.</p>
                    <button>Read More</button>
                </section> 
                <section>
                    <h4><i class="fab fa-github"></i> <a href="https://github.com/Snehith557/Cloudcomputing_project" class="links">MICROSERVICE COMMUNICATION USING RABBIT-MQ</a></h4>
                    <p>An individual project developed using Python pika library and Docker for containerization of the microservices.
                        The main objective of the project was to establish communication between the microservices using 
                        RABBIT-MQ message broker.
                    </p>
                    <button>Read More</button>
                </section> 
            </div>
        </div>
    </main>
</body>
</html>
